section.contact
  .contact__item.contact__item--left
    img.contact__image(src="assets/img/013-newsletter.png", alt="contacto")
    .contact__text
      a.contact__link(href="#")  Contacto
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  
  .contact__item.contact__item--right
    img.contact__image(src="assets/img/006-like.png", alt="suscribe")
    .contact__text
      a.contact__link(href="#")  Suscríbete
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit.