header.main-header
  nav.social-nav
    ul.social-nav__list
      li.social-nav__item: a.social-nav__link(href="/") Face
      li.social-nav__item: a.social-nav__link(href="/") Twitter
      li.social-nav__item: a.social-nav__link(href="/") Insta
      li.social-nav__item: a.social-nav__link(href="/") Linkedin
      li.social-nav__item: a.social-nav__link(href="/") Youtube
  
  nav.main-nav
    section.main-nav__item: a.main-nav__logo: img(src="", alt="logo")
    section.main-nav__item: a.main-nav__link(href="about-me.html") Sobre mí