header.main-header
  nav.social-nav
    ul.social-nav__list
      li: a.social-nav__link(href="/") 
        span.flaticon-001-facebook
      li: a.social-nav__link(href="/")
        span.flaticon-002-twitter
      li: a.social-nav__link(href="/")
        span.flaticon-011-instagram
      li: a.social-nav__link(href="/")
        span.flaticon-010-linkedin
      li: a.social-nav__link(href="/")
        span.flaticon-008-youtube
  
  nav.main-nav
    section.main-nav__item: a.main-nav__logo: img(src="assets/img/Logo-negro.png", alt="logo mi blog")
    section.main-nav__item: a.main-nav__link(href="about-me.html") Sobre mí
