header 
  nav
    ul 
      li: a(href="/") Face
      li: a(href="/") Twitter
      li: a(href="/") Insta
      li: a(href="/") Linkedin
      li: a(href="/") Youtube
  nav
    section 
      a: img(src="", alt="logo")
    section 
      a(href="about-me.html") Sobre mí