mixin blog-post(image, title)
  article.blog-post
    img.blog-post__thumbnail(src="assets/img/post-"+image, alt="image")
    h4.blog-post__title= title
    p.blog-post__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem tempore cum perspiciatis. Consectetur, dolor hic.
    a.blogs-button(href="blog.html") Leer más