mixin blogs-item(image, title)
  article.blogs-item
    img.blogs-item__thumbnail(src="assets/img/post-"+image, alt="image")
    h4.blogs-item__title= title
    p.blogs-item__content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem tempore cum perspiciatis. Consectetur, dolor hic.
    a.blogs-button(href="blog.html") Leer más

mixin project-item 
  article.project
    h3.project__title Proyecto
    p.project__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tenetur minima perferendis earum cupiditate ratione, porro sapiente aliquam exercitationem doloremque ad, magnam cum, autem labore praesentium vel tempora eos excepturi?