extends components/templates.pug

block content
  main.about-me 
    section.presentation
      figure.presentation__image
        img(src=".", alt="Mi foto")
      .presentation__info
        h1.presentation__title Hola! 
        p.presentation__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, hic est! Error facere, possimus atque nam magnam minus dolores id?
    
    section.porfolio
      h2.porfolio__title Proyectos
      article.proyect
        h3.proyect__title Proyecto
        p.proyect__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita tenetur minima perferendis earum cupiditate ratione, porro sapiente aliquam exercitationem doloremque ad, magnam cum, autem labore praesentium vel tempora eos excepturi?
  //- contacto
  //- footer