extends components/templates.pug

//- about-me page
block content
  main
    section.presentation
      .presentation__container
        figure.presentation__image
          img(src="assets/img/profile-pic.jpg", alt="Mi foto")
        .presentation__info
          h1.presentation__title Hola! &#128126;
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur eius aut expedita fugiat maiores sequi pariatur, nihil, tempora ullam repellat esse voluptas. 
    
    section.portfolio
      h2.portfolio__title Proyectos
      
      +project-item
      +project-item
      +project-item

  include components/contacts.pug
  include components/footers.pug
