extends components/templates.pug

block content
  main.blogs-container
    //- blog highlighted
    section.primary-blog
      //- left section 
      h3.primary-blog__category Noticias
      .primary-blog__left
        figure.primary-blog__thumbnail
          img(src="assets/img/main-news-img.png", alt="thumbnail")
      //- right section 
      .primary-blog__info
        h2.primary-blog__title Título del Blogpost
        p.primary-blog__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique numquam ipsam dignissimos nesciunt consectetur, facilis optio aperiam ducimus perspiciatis voluptates!
        a.blogs-button(href="#") Leer más
    //- all blogs
    section.blogs
      h3.blogs__title Últimos posts
      //- mixin
      article.blog-post
        img.blog-post__thumbnail(src="", alt="")
        h4.blog-post__title
        p.blog-post__content
        a.blogs-button(href="#")
  //- footer
  include components/footers.pug