// Colors
$color-dark: #000000;
$color-semi-dark: #22272D;
$color-light: #FFFFFF;
$color-grey: #E6E9ED;
$color-dark-grey: #CDD2DA;
$color-primary: #47CFAC;

// Font families
$font-primary: 'Roboto Mono', monospace;
$font-roboto: 'Roboto', sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;

// Font sizes
$sm: 1.4rem;
$md: 1.6rem;
$lg: 1.8rem;
$xl: 2rem;
$xxl: 3rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-primary;
}

.main-container {
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blogs-button {
  width: fit-content;
  padding: 10px 15px;
  border: 1px solid $color-primary;
  text-decoration: none;
  font-size: $sm;
  font-weight: 700;
  color: black;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
    color: $color-light;
  }
}